{% extends "layout.html" %}

{% block content %}	
	<div class="row">
		<div class="ten column">	
			<!-- <h1>Laatste nieuws</h1> -->
			{% if news %}
			<table class="u-full-width">
				<thead>
					<tr>
						<th>Tijd</th>
						<th>Headline</th>
						<th>Bedrijf</th>
						<th>Bron</th>
					</tr>
				</thead>
				<tbody>
					{% for item in news %}
					<tr>
						<td><small>{{ item.created_at }}</small></td>
						<td>{{ item.headline }}</td>
						<td><a href="https://www.url.nl">{{ item.company.name }}</td>
						<td><a href="https://twitter.com/{{ item.company.twitter_handle }}">{{ item.medium }}</a></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
  			{% else %}
  				<p>Geen nieuws items gevonden.</p>
			{% endif %}
		</div>
	</div>

{% endblock %}
