{% extends "layout.html" %}

{% block content %}	
	<div class="row">
		<div class="ten column">	
			<!-- <h1>Laatste nieuws</h1> -->
			<table class="u-full-width">
				<thead>
					<tr>
						<th>Tijd</th>
						<th>Headline</th>
						<th>Bedrijf</th>
						<th>Bron</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><small>2 uur geleden</small></td>
						<td>“We can’t wait to give it a try and see for ourselves!” Lees het blog van Marko, Mark en Robin over @ReactAmsterdam: <a href="http://bit.ly/2pln14M">http://bit.ly/2pln14M</a></td>
						<td><a href="https://www.fabrique.nl">Fabrique</td>
						<td><a href="https://twitter.com/fabrique">Twitter</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

{% endblock %}
