{% extends "layout.html" %}

{% block content %}

	<div class="row">
		<div class="one-half column">
			<h1>Over deze site</h1>	
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sed aliquet metus. Suspendisse tristique finibus libero nec sodales. Vivamus vulputate velit felis, et placerat mauris iaculis et. Nunc sodales neque ut justo tincidunt accumsan. Praesent quis feugiat enim, sit amet scelerisque augue. Donec a lorem lectus. Morbi pellentesque volutpat purus vel auctor.
			</p>	

			<p>
				Vestibulum gravida euismod tellus, in consequat sem interdum nec. Integer tincidunt, est eget euismod fermentum, dui nulla ornare diam, sit amet faucibus sapien ex non quam. Sed ac dapibus lorem. Aenean augue velit, fringilla ut pretium bibendum, porttitor nec quam. Donec a malesuada odio. In libero mi, vestibulum eu massa at, tincidunt laoreet magna. Sed sit amet posuere neque. Suspendisse eros leo, imperdiet sodales magna et, dapibus egestas dui.
			</p>	
		</div>
		<div class="one-half column">
			<h3>Aanmelden</h3>
			<form>
				tst
			</form>
		</div>

	</div>

{% endblock %}
