{% extends "layout.html" %}

{% block content %}	
	<div class="row">
		<div class="ten column">	
			{% if news %}
			<table class="u-full-width">
				<thead>
					<tr>
						<th class="mobile-hide"></th>
						<th>Headline</th>
						<th>Bureau</th>
					</tr>
				</thead>
				<tbody>
					{% for item in news.items %}
					<tr>
						<td class="timeago mobile-hide"><i><small>{{ item.time_to_string() }} <span class="from">geleden</span></small></i></td>
						<td>
							<a href="#" class="permalink">{{ item.headline }}</a>

							<small class="caption">
								<span class="mobile-show">{{ item.time_to_string() }}</span>
								&mdash;
								via 
								<a href="https://twitter.com/{{ item.company.twitter_handle }}">{{ item.medium }}</a>
							</small>
						</td>
						<td class="company">
							<small>
								<a href="https://www.url.nl">{{ item.company.name }}</a>
							</small>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
  			{% else %}
  				<p>Geen nieuws items gevonden.</p>
			{% endif %}
		</div>
		<div class="row">
			<div class="pagination u-pull-right">
				{% if news.has_prev %}
					<a href="{{ url_for('news.nieuws', page=news.prev_num) }}">
						&lt;&lt; Nieuwer nieuws</a>
					{% else %}
						&lt;&lt; Nieuwer nieuws
				{% endif %} | 

				{% if news.has_next %}
					<a href="{{ url_for('news.nieuws', page=news.next_num) }}">
						Ouder nieuws &gt;&gt;</a>
					{% else %}
						Ouder nieuws &gt;&gt;
				{% endif %}
			</div>
		</div>
	</div>

{% endblock %}
