<!DOCTYPE html>
<html lang="nl">
<head>
	<meta charset="utf-8">
	<title>{{ title }} | Bureaunieuws.nl</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">	
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/normalize.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/skeleton.css') }}">
	<!-- <link rel="icon" type="image/png" href="images/favicon.png"> -->
</head>
<body>
<div class="container">

	<nav class="navbar">
		<div class="logo"><a href="/"><b>BureauNieuws.nl</b></a></div>
		<ul class="navbar-list u-pull-right">
			<li class="navbar-item mobile-hide{% if request.path == '/' %} active{% endif %}">
				<a class="navbar-link" href="/">nieuws</a>
			</li>
			<li class="navbar-item{% if request.path == '/bureaus' %} active{% endif %}">
				<a class="navbar-link" href="/bureaus">bureaus</a>
			</li>
			<li class="navbar-item{% if request.path == '/about' %} active{% endif %}">
				<a class="navbar-link" href="/about">over ons</a>
			</li>
		</ul>
	</nav>

	{% block content %}
	{% endblock %}
</div>
</body>
</html>